@font-face {
    font-family: 'Inter', sans-serif;
}

html { overflow-x: hidden; }

body {
    type: block;
    font-family: "Inter";
    margin-top: 95px;
    margin-left: 95px;
    width: 80%;
}


h1 {
font-size: 62px;
font-weight: bold;
}

h2 {
font-size: 48px;
font-weight: bold;
}

p {
font-size: 36px;
font-weight: light;
}

a {
color: #5D1369;
}

li {
font-size: 36px;
font-weight: light;
margin-top: 25px;
}

p.opr {
    font-weight: regular;
    margin-left: inline-block;
    width: 80%px;
}

img.opa {
    width: 20px;
    height:70px;
    margin-right: 55px;
}

div.fl {
display:flex;
align-items: center;
}

.hide {
display: none;
}

button {
    font-size: 24px;
font-weight: light;
margin-right: 50px;
border: none;
background: white;
cursor: pointer;
}

.active {
    font-weight: bold;
    text-decoration-line: underline;
    color: #5D1369;
}
